
/*================ GLOBAL =============*/

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	transition: all 0.7s ease;
}

div, p, button {
	box-sizing: border-box;
}

ul {
	display: block;
	padding: 0;
	margin: 0;
}

ul li {
	display: block;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.container {
	position: relative;
	max-width: 1140px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}





/*=========================================================*/
/*============= PAGE HOME ================*/

/*=============== HEADER ===============*/

.menu-top {
  height: 82px;
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  align-items: center;
}

.menu-top__left,
.menu-bottom__left2,
.menu-top__right,
.menu-top__burger {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}


.menu-top__right-small a,
.menu-top__right a,
.menu-top__left a,
.menu-bottom__left2 a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #000;
}

.menu-top__right-small a:hover,
.menu-top__right a:hover,
.menu-top__left a:hover,
.menu-bottom__left2 a:hover,
.menu-top__right span:hover {
  color: #f28c00;
}

.menu-top__left a,
.menu-bottom__left2 a {
  margin-right: 20px;
}

.menu-top__right {
  float: right;
}

.menu-top__right-small {
  display: flex;
  justify-content: space-around;
  float: none;
  align-items: center;
  height: 100%;
}


.menu-top__right li {
  margin-left: 18px;
}

.menu-top__right-small i,
.menu-top__right i {
  font-weight: 200;
}

.menu-top__right span {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #000;
}

.menu-top__logo {
  width: 50px;
  height: 50px;
  border: solid 3px #f28c00;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bottom-small__logo {
  margin: 10px 0;
}

.menu-top__logo img {
  width: 100%;
}

.menu-top__burger {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #000;
}

.menu-top__burger label,
.menu-top__burger i {
  cursor: pointer;
}

.menu-top__burger label {
  margin: 2px 0 0 15px;
}


.menu-bottom {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, .1);
}

.menu-bottom__left,
.menu-bottom__left2,
.menu-bottom__phone {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu-bottom__left a:hover,
.menu-bottom__left2 a:hover,
.menu-bottom__phone a:hover {
  color: #f28c00;
}

.menu-bottom__phone p {
  float: right;
}



.menu-bottom__phone a {
  color: #2d2d2d;
}


.menu-bottom__left a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #000;
  margin-right: 16px;
}

.menu-bottom__left-small a {
  font-size: 13px;
  margin-right: 16px;
}

.menu-bottom__left a:hover {
  color: #f28c00;
}

.menu-bottom__left a:active {
  color: #e9540b;
}

.menu-bottom__phone i {
  font-weight: 200;
}

.menu-bottom__phone p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 15px;
  margin: 0 0 0 10px;
}


.background {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.menu-bottom-small {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 500;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, .1);
  transition: all 0.7s ease;
}


/*============== DROPDOWN MENU'S ============*/

/*TRIGGER-MENU*/

.trigger-menu {
  display: none;
}

.trigger-menu__wrap {
  height: 380px;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #d2d1cf;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  z-index: 100;
}

.trigger-menu__img {
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: #584584;
  margin: 55px 0 0 50px;
}

.trigger-menu__img img {
  margin-top: -80px;
}

.trigger-menu__link {
  text-align: center;
  margin-top: 25px;
}

.trigger-menu__link a {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f28c00;
}

.trigger-menu__link a:hover {
  color: #e9540b;
}

.trigger-menu__list_head {
  border-bottom: 1px solid #d2d1cf;
  height: 80px;
}

.trigger-menu__list_head h5 {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  padding: 30px 0 0 15px;
  color: #000;
}

.trigger-menu__list ul {
  margin-top: 20px;
}

.trigger-menu__list li a {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #4c4c4c;
  padding: 5px 0 0 15px;
}

.trigger-menu__list li a:hover {
  color: #f28c00;
}


/*STARTERS-MENU*/

.starters-menu {
  display: none;
}

.starters-menu__img {
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: #e7af25;
  margin: 55px 0 0 50px;
}

.starters-menu__img img {
  width: 130%;
  margin: -35px 0 0 -30px;
}


/*MODULE-MENU*/

.module-menu {
  display: none;
}

.module-menu__img {
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: rgb(234, 69, 122);
  margin: 55px 0 0 50px;
}

.module-menu__img img {
  width: 150%;
  margin: -10px 0 0 -60px;
}


/*AUTO-MENU*/

.auto-menu {
  display: none;
}

.auto-menu__img {
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: rgb(245, 105, 80);
  margin: 55px 0 0 50px;
}

.auto-menu__img img {
  width: 100%;
  margin-top: -50px;
}


/*UNIT-MENU*/

.unit-menu {
  display: none;
}

.unit-menu__img {
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: rgb(245, 105, 80);
  margin: 55px 0 0 50px;
}

.unit-menu__img img {
  width: 100%;
  margin-top: -50px;
}


/*SEARCH-MENU*/

.search-menu {
  display: none;
}

.search-menu__wrap {
  height: 450px;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #d2d1cf;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  z-index: 100;
}

.search-menu__search {
  position: absolute;
  height: 145px;
  width: 100%;
  top: -145px;
  left: 0;
  background-color: #fff;
  z-index: 200;
}

.search-menu__search form {
  margin-top: 60px;
}

.search-menu__search input {
  position: relative;
  width: 960px;
  height: 70px;
  float: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f28c00;
  margin: -20px 0 0 200px;
  padding-left: 15px;
}

.search-menu__search input::placeholder {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #000;
}

.search-menu__saerch_btn i {
  font-size: 40px;
  font-weight: 200;
}

.search-menu__saerch_btn i:hover {
  cursor: pointer;
  color: #f28c00;
}

.search-menu__wrap {
  padding: 0 70px;
}

.search-menu__head {
  margin-top: 50px;
}

.search-menu__head_txt p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 24px;
  color: #969696;
}

.search-menu__head_txt p span {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 23px;
  color: #2e2e2e;
}

.search-menu__head_link {
  display: flex;
  justify-content: right;
}

.search-menu__head_link a {
  color: #f28c00;
}

.search-menu__head_link a:hover {
  color: #e9540b;
}

.search-menu__head_close {
  display: flex;
  justify-content: right;
}

.search-menu__head_close a {
  margin-right: -50px;
  color: #2e2e2e;
}

.search-menu__head_close a:hover {
  color: #969696;
}

.search-menu__head_close a i {
  font-size: 24px;
}

.search-menu__body_item {
  width: 215px;
  height: 300px;
  border: 1px solid #f28c00;
  border-radius: 50px;
  padding: 0 15px;
}

.search-menu__body_img {
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-menu__body_stat {
  display: flex;
  justify-content: space-between;
}

.search-menu__body_stat p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 13px;
  color: #969696;
  margin-top: 6px;
}

.searh-menu__star i {
  font-size: 13px;
  color: #f28c00;
}

.body-p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 11px;
  color: #2e2e2e;
  margin-bottom: 4px;
}

.search-menu__body_info h4 {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  color: #2e2e2e;
}

.search-menu__body_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-menu__body_price p {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 14px;
  color: #2e2e2e;
  margin-top: 13px;
}

.search-menu__body_price a {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 14px;
  color: #f28c00;
}

.search-menu__body_price a:hover {
  color: #e9540b;
}





/*============ NEW-YEAR ======== первая секция*/

.slick-slide {
  height: 700px;
}

.new-year__trigger {
  border-radius: 50%;
  background-color: rgb(95, 75, 139);
  width: 458px;
  height: 458px;
  margin-top: 130px;
  float: left;
}

.new-year__trigger img {
  position: absolute;
  margin: -100px 0 0 25px;
}

.new-year__slide_content {
  margin: 175px 0 0 80px;
}

.new-year__slide_content h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 62px;
  font-weight: 900;
  color: #e9540b;
  line-height: 80px;
}

.new-year__slide_content p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #2d2d2d;
  width: 320px;
  margin-top: 20px;
}

.new-year__slide_content a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.new-year__slide_content a:hover {
  color: #e9540b;
}

/*=============== INFO-ITEMS ================*/

.info-items {
  margin-bottom: 120px;
}

.info-items i {
  font-size: 40px;
  font-weight: 200;
}

.info-items h3 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 30px 0;
}

.info-items p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
  width: 315px;
}

.info-items a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.info-items a:hover {
  color: #e9540b;
}

.info-items__api p {
  margin-bottom: 70px;
}

.info-items__room p {
  margin-bottom: 24px;
}

.info-items__magic p {
  margin-bottom: 70px;
}

.info-items__wrapper {
  padding: 45px 0 0 35px;
  width: 360px;
  height: 365px;
  border-radius: 10%;
}

.info-items__wrapper:hover {
  width: 360px;
  height: 365px;
  border-radius: 10%;
  background: #fff;
  cursor: pointer;
}



/*================== OFFER =================*/

.offer {
  position: relative;
}

.offer__bg {
  position: absolute;
  right: 0;
  width: 960px;
}

.offer h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  position: absolute;
  width: 650px;
  top: 60px;
  z-index: 3;
}

.offer h3 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 50px 0 30px;
}

.offer p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
}

.offer__module {
  border-radius: 50%;
  background-color: rgb(234, 69, 122);
  width: 300px;
  height: 300px;
  margin-top: 275px;
}

.offer__module img {
  margin: -10px 5px 4px -75px;
}

.offer__start {
  border-radius: 50%;
  background-color: rgb(233, 181, 41);
  box-shadow: 0 10px 80px 0 rgba(244, 231, 25, 0.8);
  width: 300px;
  height: 300px;
  margin-top: 370px;
}

.offer__start img {
  margin: -70px 5px 4px -30px;
}

.offer__auto {
  border-radius: 50%;
  background-color: rgb(245, 105, 80);
  width: 300px;
  height: 300px;
  margin-top: 145px;
}

.offer-modal {
  padding-bottom: 70px;
}

.trigger-modal {
  border-radius: 50%;
  background-color: #5f4b8b;
  width: 300px;
  height: 300px;
  margin-top: 145px;
}

.offer__auto img {
  margin: -70px 5px 4px -5px;
}



/*================== BRAND ==================*/

.brand {
  margin-top: 190px;
}

.brand__schneider img {
  width: 230px;
}

.brand__texenergo img {
  margin: 50px 0 0 3px;
}

.brand__iek img {
  width: 107px;
  margin: 85px 0 0 65px;
}

.brand__abb img {
  margin-top: -10px;
}

.brand__keaz img {
  margin: 85px 0 0 -15px;
}

.brand__ekf img {
  margin: 60px 0 0 65px;
}



/*=================== LK =================*/

.lk {
  margin-top: 160px;
}

.lk__item h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 62px;
  font-weight: 900;
  color: #e9540b;
  width: 600px;
  margin: 50px 0 45px;
}

.lk__item p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
  width: 415px;
  margin-bottom: 40px;
}

.lk__item a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.lk__item a:hover {
  color: #e9540b;
}

.lk__comp img {
  margin-left: -100px;
}

.lk__card {
  width: 360px;
  height: 365px;
  border-radius: 10%;
  padding: 30px 0 0 30px;
  margin: 130px 0 150px;
}

.lk__card:hover {
  background: #fff;
  cursor: pointer;
}

.lk__card i {
  font-size: 40px;
  font-weight: 200;
}

.lk__card h3 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-weight: 900;
  font-size: 24px;
  width: 305px;
  margin: 25px 0 30px;
}

.lk__card p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
  width: 300px;
  margin-bottom: 40px;
}

.lk__card_tablet p{
  margin-bottom: 63px;
}

.lk__card a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.lk__card a:hover {
  color: #e9540b;
}



/*================ BLOG =====================*/

.blog__bg {
  width: 960px;
}

.blog__bg img {
  position: absolute;
  right: 0;
  width: 55%;
  overflow-x: hidden;
}



.blog h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  position: absolute;
  width: 650px;
  top: 60px;
  z-index: 3;
}

.blog p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 24px;
  padding: 0 30px;
}

.blog a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
  margin: 0 35px 0 220px;
}

.blog a:hover {
  color: #e9540b;
}

.blog__card {
  background-color: #fff;
  width: 362px;
  border-radius: 12%;
  padding-bottom: 25px;
}

.blog__card:hover,
.blog2__card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(45, 45, 45, 0.15);
}

.blog__card img {
  width: 100%;
}

.blog__card_data {
  color: #969696;
  margin: 30px 0 25px;
}

.blog__card_data span {
  float: right;
}

.blog__card_data span i {
  font-size: 14px;
  font-weight: 200;
}

.blog__card-left {
  margin-top: 250px;
}

.blog__card-middle {
  margin: 330px 15px 0 15px;
}

.blog__card-right {
  margin: 130px 15px 0 30px;
}

.blog__right_p,
.blog__left_p {
  margin-bottom: 40px;
}



/*============= SOCIAL ==============*/

/*.social {*/
  /*height: 400px;*/
/*}*/

.social__item {
  display: flex;
  justify-content: space-around;
  margin: 180px 0;
}

.social__item_brand {
  margin: 0 5%;
}

.social__item_brand a {
  color: #000;
}

.social__item_brand a:hover {
  color: #737d79;
  transition: all 0.5s ease;
}

.social__item_twitter i,
.social__item_instagram i {
  font-size: 80px;
  font-weight: 900;
}

.social__item_facebook i {
  font-size: 70px;
  font-weight: 900;
}




/*================= SCOPE ==================*/

.scope h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #e9540b;
}

.scope p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 24px;
  width: 462px;
  margin: 40px 0;
}

.scope a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.scope a:hover {
  color: #e9540b;
}

.browser {
  width: 600px;
}

.browser img {
  height: 110%;
  width: 100%;
  overflow-x: hidden;
}

.scope__item {
  width: 360px;
  height: 380px;
  border-radius: 10%;
  padding: 30px 0 0 30px;
  margin-top: 100px;
}

.scope__item:hover {
  background: #ffffff;
  cursor: pointer;
}

.scope__item i {
  font-size: 40px;
  font-weight: 200;
}

.scope__item h3 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 20px 0 25px;
}


.scope__item p {
  width: 320px;
}

.scope__item_middle p {
  margin-bottom: 88px;
}



/*============== STARTERS ================*/

.starters {
  margin-top: 130px;
}

.starters h2 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 390px;
}

/*---------- slider ----------*/
.starters__gallery {
  width: 930px;
  margin-left: -400px;
}

.starters__gallery-item img {
  height: 600px;
}

.starters p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
}

.starters__item_top {
  margin-top: 35px;
}

.starters__item_link {
  margin-top: 225px;
}

.starters__item_link a {
  color: #2d2d2d;
}

.active_link a {
  color: #f28c00;
}

.starters__item_link a:hover {
  color: #e9540b;
}

.starters__item_link li {
  font-size: 12px;
  margin: 9px 0;
}

.starters__item_bottom {
  margin-top: 70px;
}



/*================== PARTNERS ======================*/

.partners {
  margin-top: 100px;
}

.partners h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
}

.partners p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 26px;
  margin-top: 36px;
  width: 460px;
}

.partners__link {
  margin: 30px 0 160px;
}

.partners__link a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.partners__link a:hover {
  color: #e9540b;
}

.partners__metro {
  text-align: center;
  margin-bottom: 40px;
}

.partners__gaz {
  margin-bottom: 120px;
}

.partners__gaz2 {
  display: none;
}



/*==================== PLACE ====================*/

.place>.container {
  padding: 0;
}

.place__wrapper {
  background-color: #d8d4bf;
}

.place__item {
  margin-left: 70px;
}

.place__item h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  margin: 160px 0 40px;
}

.place__item p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 26px;
}

.place__link {
  margin: 60px 0 240px;
}

.place__link a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
}

.place__link a:hover {
  color: #e9540b;
}

.map {
  width: 460px;
  height: 660px;
  margin-top: 50px;
}



/*================== HELP ====================*/

.help h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  text-align: center;
  margin: 150px 0 70px;
}

.help__item {
  border-bottom: solid 1px #e0e0e0;
}

.help__item p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 26px;
}

.help__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help__head:hover {
  cursor: pointer;
}

.help__head h3 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0 30px;
  cursor: pointer;
}

.help__plus i {
  font-weight: 200;
}



/*=========== HELP__FORM ===========*/

.help__form {
  margin-left: 50px;
}

.help__form h3 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 30px 0 30px;
}

.help__form p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 26px;
}

.help__form_reg input,
.help__form_reg textarea {
  background: transparent;
}

.help__form_reg input {
  height: 60px;
  border: none;
  border-bottom: solid 1px #e0e0e0;
}

.help__form_reg input::placeholder {
  font-size: 14px;
}

.help__form_reg input:hover {
  border-bottom: solid 1px #f28c00;
}

.help__form_reg input:hover::placeholder {
  color: #f28c00;
}

.form-control:focus {
  border-color: #f28c00;
  box-shadow: 0 0 0 .2rem rgba(232, 171, 51, 0.15);
  background: transparent;
}

.help__form_reg textarea {
  height: 200px;
  resize: none;
  border: none;
  border-bottom: solid 1px #e0e0e0;
}

.help__form_reg textarea::placeholder {
  font-size: 13px;
}

.help__form_personal {
  width: 100%;
  display: flex;
  font-size: 14px;
  align-content: center;
  margin-top: 20px;
}

.help__form_personal input {
  height: 14px;
}

.help__form_personal span {
  float: right;
  margin: 0 8px 0 20px;
}

.help__form_personal input {
  margin-top: 3px;
}

.help__form_reg a {
  text-decoration: underline;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
}

.form-button {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f28c00;
  background: transparent;
  border: none;
  margin-bottom: 200px;
}

.form-button i {
  font-weight: 200;
}

.form-button:hover {
  cursor: pointer;
}



/*================== FOOTER ==================*/

.footer {
  background-color: #333230;
}

.footer__left_head,
.footer__middle_head,
.footer__right_head {
  border-bottom: solid 1px #5c5b59;
  margin-bottom: 30px;
}

.footer h3 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  padding: 50px 0 30px;
}

.footer li a {
  font-size: 12px;
  color: #c2c2c1;
  line-height: 24px;
}

.footer li a:hover {
  color: #fff;
}

.footer__left_item li {
  margin-bottom: 8px;
}

.footer__left_item li a {
  font-size: 13px;
}

.footer__middle_item-link {
  margin-left: -15px;
}

.footer__middle_item-link2 {
  margin: 0 0 70px 25px;
}

.footer__middle_item h4 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: none;
  margin-bottom: 12px;
}

.footer__right_tel {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f28c00;
}

.footer__right ul a {
  text-decoration: underline;
}

.footer__right_mail {
  font-size: 12px;
  color: #c2c2c1;
}

.footer__right_table {
  font-size: 12px;
  color: #5c5b59;
}

.footer__right li {
  margin-bottom: 10px;
}







/*=========================================================*/

/*=================  PAGE BLOG  ==============*/

.blog2__bg {
  position: absolute;
  left: -280px;
  width: 760px;
}

.blog2 h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  width: 650px;
  margin: 75px 0 60px 90px;
}

.blog2__item_p,
.blog2__item_link {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  line-height: 24px;
  width: 460px;
}

.blog2__item_link {
  margin-top: 65px;
}

.blog2__item_link a {
  color: #2d2d2d;
}

.first a {
  color: #f28c00;
}

.blog2__item_link a:hover {
  color: #e9540b;
}

.blog2__card {
  background-color: #fff;
  max-width: 362px;
  border-radius: 12%;
  padding-bottom: 25px;
}

.blog2__card img {
  width: 100%;
}

.blog2__card p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  line-height: 24px;
  padding: 0 30px;
}

.blog2__card a {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  color: #f28c00;
  margin: 0 35px 0 200px;
}

.blog2__card a:hover {
  color: #e9540b;
}

.blog2__card-left {
  margin: 125px auto 0;
}

.blog2__card-middle {
  margin: 125px auto 0;
}

.blog2__card-right {
  margin: 125px auto 0;
}

.blog2__down {
  margin-bottom: 150px;
}





/*===========================================================*/

/*================= PAGE STARTERS ===============*/

/*=============== section FILTER ==============*/

.filter {
  background-color: #e8e2d0;
}

.filter h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  text-align: center;
  margin: 160px auto 100px;
}

.filter__nav {
  padding-bottom: 100px;
}

.filter__top,
.filter__menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.filter__top2 {
  display: none;
}

.filter__menu li {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 22px;
  color: #2d2d2d;
  margin-right: 40px;
}

.filter__menu li a {
  color: #a9a9a9;
}

.filter__menu li a:hover {
  color: #2d2d2d;
}

.filter__top {
  float: right;
}

.filter__top p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 20px;
  color: #f28c00;
  font-weight: 700;
  margin: 0;
}

.filter__top_click {
  margin-left: 30px;
}

.filter__top_click i {
  color: #f28c00;
  font-weight: 400;
  font-size: 20px;
}


/*========== section PRODUCT-STARTERS ==========*/

.product-starters__item {
  width: 355px;
  border-radius: 50px;
  background-color: #fff;
  margin: 140px auto 50px;
}

.product-starters__item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgba(45, 45, 45, 0.15);
  transition: .5s;
}

.product-starters__item_bg {
  height: 250px;
  width: 100%;
  background-color: #e7af25;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}

.pm16 img {
  margin: -70px 0 0 -25px;
  width: 115%;
}

.pml2501 img {
  margin: -45px 0 0 -45px;
}

.pm12 img {
  margin: -80px 0 0 5px;
}

.product-starters__item_info {
  height: 250px;
  padding: 50px 39px 30px;
}

.product-starters__item_info p {
  color: #2d2d2d;
  font-size: 12px;
  margin-bottom: 10px;
}

.product-starters__item_info h5 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.8em;
}

.product-starters__item_status {
  display: flex;
  margin-bottom: 10px;
}

.product-starters__item_status p {
  font-size: 14px;
  color: #a9a9a9;
  margin-right: 98px;
}

.product-starters__star {
  color: #ffdf65;
}

.product-starters__star i {
  font-size: 14px;
}

.product-starters__item_price {
  height: 30px;
  width: 100%;
  margin-top: 30px;
}

.product-starters__item_price p {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 19px;
  width: 70%;
}

.product-starters__item_price a {
  color: #f28c00;
  float: right;
  margin-top: -35px;
}

.product-starters__item_price a:hover {
  color: #e9540b;
}



/*=============== section STARTERS2 ============*/

.starters2 h2 {
  left: 465px;
}



/*============= section PRODUCT-STARTERS2 =======*/

.product-starters__item2 {
  margin: 90px auto 50px;
}

.e12a img{
  margin: -80px 0 0 -10px;
}

.pml1500 img {
  margin: -40px 0 0 -25px;
}

.pm12-063 img {
  margin: -70px 0 0 -20px;
}



/*============= section PRODUCT-STARTERS3 =======*/

.product-starters__item3 {
  margin: 10px auto 50px;
}

.pm16_3 img {
  margin: -70px 0 0 -25px;
}

.pml2501_3 img {
  margin: -35px 0 0 -45px;
}

.pm12_3 img {
  margin: -80px 0 0 -5px;
}

.product-starters3__pg p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 14px;
}

.product-starters3__numb {
  margin-bottom: 160px;
}

.product-starters3__numb ul {
  display: flex;
  float: right;
}

.product-starters3__numb ul li {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 14px;
  margin-left: 25px;
}

.product-starters3__numb ul li:nth-child(1) {
  color: #f28c00;
}

.product-starters3__numb ul li a {
  color: #000;
}

.product-starters3__numb ul li a:hover {
  color: #f28c00;
}



/*============= section OFFER2 =================*/

.offer2 {
  margin-bottom: 150px;
}





/*======================================================*/

/*============== PAGE  PRODUCT_ITEM ===========*/

/*============== section ITEM-CARD ===========*/

.item-card__face {
  width: 100%;
}

.item-card__face_bg {
  width: 850px;
  height: 520px;
  background-color: #e9b529;
  margin-left: -400px;
}

.item-card__face_img {
  max-width: 490px;
}

.item-card__face_img img {
  width: 600px;
  position: absolute;
  top: 65px;
  left: 0;

}

.item-card__disc p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #2d2d2d;
  margin-top: 65px;
}

.item-card__disc h2 {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #2d2d2d;
}

.item-card__status {
  display: flex;
  justify-content: space-between;
}

.item-card__status_star {
  display: flex;
  color: #ffdf65;
}

.item-card__status_star i {
  font-size: 24px;
}

.item-card__status {
  margin-top: 15px;
}

.item-card__status_check p {
  font-size: 22px;
  font-weight: 500;
  margin: -3px 0 0 30px;
  float: right;
}

.item-card__status_check i {
  font-size: 24px;
  font-weight: 300;
  color: #0fb422;
}

.item-card__price p {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 0;
}

.item-card__price a {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #6a6a69;
  text-decoration: underline;
}

.item-card__price a:hover {
  color: #000;
}

.item-card__btn {
  width: 555px;
  height: 95px;
  border-radius: 50px;
  border: #f28c00 2px solid;
  margin-top: 70px;
}

.item-card__btn:hover{
  background-color: #f28c00;
  transition: all 0.7s ease;
}

.card-btn {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #f28c00;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card-btn:hover {
  color: #ffffff;
}

.item-card__btn-bottom {
  display: none;
}



/*=================== section DESCRIPTION ==============*/

.description {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 16px;
  margin-top: 110px;
}

.description h4 {
  font-weight: 700;
  font-size: 24px;
  color: #2d2d2d;
}

.description__item p {
  font-weight: 300;
  font-size: 13px;
  color: #2d2d2d;
  width: 555px;
  margin-top: 30px;
}

.description__parametr h4 {
  margin-top: 45px;
}



.description__parametr_list1 {
  margin-top: 30px;
}

.description__parametr_list2 {
  margin-top: 103px;
}

.description__parametr_list1 li,
.description__parametr_list2 li {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
}

.description__parametr_list1 span,
.description__parametr_list2 span {
  font-size: 14px;
  color: #6a6a69;
}

.description__doc {
  margin-top: 65px;
}

.description__doc p {
  font-size: 14px;
  font-weight: 700;
  margin-top: 40px;
}

.description__doc_list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcd;
  padding: 12px 0;
}

.description__doc_list1 {
  display: flex;
}

.description__doc_list1 i {
  font-weight: 200;
  margin-right: 25px;
}

.description__doc_list2 {
  display: flex;
}

.description__doc_list2 li:nth-child(2) {
  margin-left: 35px;
}

.down {
  color: #f28c00;
  border-bottom: 1px solid #f8e2c5;
}




/*================== section COMPANION ===============*/

.companion {
  margin-top: 130px;
}

.companion h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
}

.companion__item {
  height: 500px;
  width: 355px;
  border-radius: 50px;
  background-color: #fff;
  margin: 75px 0 50px;
  box-shadow: 0 2px 5px 0 rgba(45, 45, 45, 0.1);
}

.companion__item:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.2);
}

.companion__item_bg {
  height: 250px;
  width: 100%;
  background-color: #e7af25;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}

.bg2, .bg3 {
  background-color: #5f4b8b;
}

.pm16-2 img {
  position: absolute;
  top: 0;
  left: -20px;
}

.a9-32 img {
  position: absolute;
  top: -5px;
  left: -50px;
}

.PVL2104 img {
  position: absolute;
  top: 5px;
  left: -25px;
}

.companion__item_info {
  height: 250px;
  padding: 50px 39px 30px;
}

.companion__item_info p {
  color: #2d2d2d;
  font-size: 12px;
  margin-bottom: 10px;
}

.companion__item_info h5 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.8em;
}

.companion__item_status {
  display: flex;
  margin-bottom: 10px;
}

.companion__item_status p {
  font-size: 14px;
  color: #a9a9a9;
  margin-right: 98px;
}

.companion__star {
  color: #ffdf65;
}

.companion__star i {
  font-size: 14px;
}

.companion__item_price {
  height: 30px;
  width: 100%;
  margin-top: 30px;
}

.companion__item_price p {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 19px;
  width: 70%;
}

.companion__item_price a {
  color: #f28c00;
  float: right;
  margin-top: -35px;
}

.companion__item_price a:hover {
  color: #e9540b;
}



/*============== section HELP-PRODUCT =============*/

.help-product h1 {
  text-align: start;
  margin: 70px 0 60px;
}



/*=============== section PRODUCT-STARTERS ========*/

.product-item__starters,
.product-item__offer {
  display: none;
}



/*===================================================*/

/*===================== PAGE POST =================*/

/*=================== section OURLIVE =============*/

.ourLive {
  background-color: #dfd3ca;
}

.ourLive__back {
  display: flex;
  margin: 70px 0;
}

.ourLive__back a {
  color: #86807b;
}

.ourLive__back a:hover {
  color: #000;
}

.ourLive__head {
  text-align: center;
}

.ourLive__head h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
}

.ourLive__head p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #2d2d2d;
  margin: 20px 0 85px;
}


/*=============== section POST =================*/

.post {
  margin: 150px 0 100px;
}

.post__item_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.post__item_head-top {
  display: none;
}

.post__item_head p {
  margin: 0;
}

.post__item_head-logo {
  display: flex;
  align-items: center;
}

.post__item_head-logo p {
  margin-left: 30px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #2d2d2d;
}

.post__item_head-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f28c00;
}

.post__item_head-data p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.post__item_text {
  margin-top: 70px;
}

.post__item_text p {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #333230;
}

.post__item_text p span {
  color: #2d2d2d;
  font-weight: 500;
}

.post__item_tag {
  margin: 50px 0 40px;
}

.post__item_tag,
.post__item_tag a {
  color: #6a6969;
}

.post__item_tag a {
  margin: 0 7px;
}

.post__item_tag a:hover {
  color: #000;
}

.post__item_soc,
.post__item_soc-like,
.post__item_soc-link {
  display: flex;
}

.post__item_soc-like,
.post__item_soc-link {
  align-items: center;
}

.post__item_soc {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #2d2d2d;
}

.post__item_soc i {
  font-weight: 200;
  color: #6a6969;
  margin-right: 15px;
}

.post__item_soc-like {
  margin-right: 60px;
}




/*================================================*/

/*=================== PAGE ABOUT ==============*/

/*================== section ABOUT ===========*/

.about__img2 {
  display: none;
}

.about h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  position: absolute;
  top: 70px;
  left: 135px;
  z-index: 3;
}

.about img {
  position: absolute;
  top: 0;
  left: -380px;
}

.about__text {
  margin-top: 260px;
}

.about__text p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #2d2d2d;
}

.partners-about {
  margin-top: 190px;
}




/*==========================================*/

/*================== PAGE TERMS =============*/

/*============== section TERMS-HEAD =========*/

.terms-head {
  background-color: #e0c5b7;
  border-top: 4px solid #d5d5d2;
}

.terms-head h1 {
  font-family: 'MuseoSansCyrl 900', sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e9540b;
  text-align: center;
  margin: 140px 0;
}

.common-pos h4 {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 30px;
  color: #2e2e2e;
  margin: 100px 0 50px;
}

.common-pos p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #2d2d2d;
}

.common-pos__p3 p {
  margin-bottom: 150px;
}




/*========= MODAL WINDOW =========*/

.modal-dialog {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding-bottom: 70px;
}

.modal-header {
  border-bottom: none;
}

.modal-header__top {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-header__top button {
  float: right;
}

.modal-button {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 16px;
  color: #000;
  margin-right: 10%;
}

.modal-body {
  padding: 0;
}

.modal-body a {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 16px;
  color: #f28c00 !important;
}

.modal-body a:hover {
  color: #e9540b;
}


.offer__start_modal {
  margin-top: 145px;
}




/*==========================================*/

/*=================== PAGE 404 ===============*/

.p404__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p404__wrap h2 {
  font-family: 'MuseoSansCyrl 900',sans-serif;
  font-size: 400px;
  color: #e9540b;
}

.p404__wrap_img {
  max-width: 500px;
  padding: 70px 0;
}

.p404__wrap_img img {
  width: 100%;
}

.p404__tx {
  max-width: 290px;
  text-align: center;
  padding-top: 100px;
}

.p404__tx h2 {
  width: 100%;
}

.p404__text p {
  font-family: 'Museo Sans Cyrl',sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #2d2d2d;
}

.p404__search input {
  width: 80%;
  height: 50px;
  float: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f28c00;
  margin-bottom: 140px;
}

.p404__saerch_btn i {
  font-size: 30px;
  font-weight: 200;
}

.p404__saerch_btn i:hover {
  cursor: pointer;
  color: #f28c00;
}












